 @import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	color: #414141;
    font-family: 'Open Sans', sans-serif;
}

h2 {
	margin: 5px 0;
}

.page {
	text-align: center;
	min-height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: -webkit-radial-gradient(#3b6ea5 5%, #294d73 70%);
	background: -o-radial-gradient(#3b6ea5 5%, #294d73 70%);
	background: radial-gradient(#3b6ea5 5%, #294d73 70%);
}

.container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	    -ms-transform: translateX(-50%) translateY(-50%);
	        transform: translateX(-50%) translateY(-50%);
	width: 75%;
	background-color: white;
	border-radius: 1px;
	-webkit-box-shadow: 0 2px 2px 1.5px rgba(0, 0, 0, 0.25);
	        box-shadow: 0 2px 2px 1.5px rgba(0, 0, 0, 0.25);
}

.container:before{
	content: "";
	display: block;
	padding-top: 53%;
}

.a {
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(2deg);
	    -ms-transform: translateX(-50%) translateY(-50%) rotate(2deg);
	        transform: translateX(-50%) translateY(-50%) rotate(2deg);
	-webkit-box-shadow: 0 2px 2px 1.5px rgba(0, 0, 0, 0);
	        box-shadow: 0 2px 2px 1.5px rgba(0, 0, 0, 0);

}

.b {
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(-1deg);
	    -ms-transform: translateX(-50%) translateY(-50%) rotate(-1deg);
	        transform: translateX(-50%) translateY(-50%) rotate(-1deg);
	-webkit-box-shadow: 0 2px 2px 1.5px rgba(0, 0, 0, 0);
	        box-shadow: 0 2px 2px 1.5px rgba(0, 0, 0, 0);
}

.content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	font-size: 2.9vw;
}

@media (min-width: 600px) {
	.container {
		width: 35%;
	}

	.content {
		font-size: 1.41vw;
	}
}

/**
.headshot {
	position: relative;
	min-width: 125px;
	min-height: 125px;
	width: 125px;
	margin: 0 auto;
	margin-top: -140px;
	margin-bottom: 10px;
	background-color: #fff;
	border: 1px solid (34, 34, 34, 0.15);
	-webkit-box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.25);
	        box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.25);
	padding: 3px;
	border-radius: 50%;
}
**/