 @import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	color: #414141;
    font-family: 'Open Sans', sans-serif;
}

h2 {
	margin: 5px 0;
}

.page {
	text-align: center;
	min-height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: radial-gradient(#3b6ea5 5%, #294d73 70%);
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 35%;
	background-color: white;
	border-radius: 1px;
	box-shadow: 0 2px 2px 1.5px rgba(0, 0, 0, 0.25);
}

.container:before{
	content: "";
	display: block;
	padding-top: 53%;
}

.a {
	transform: translateX(-50%) translateY(-50%) rotate(2deg);
	box-shadow: 0 2px 2px 1.5px rgba(0, 0, 0, 0);

}

.b {
	transform: translateX(-50%) translateY(-50%) rotate(-1deg);
	box-shadow: 0 2px 2px 1.5px rgba(0, 0, 0, 0);
}

.content {
	display: flex;
	flex-direction: column;
	font-size: 18px;
}

/**
.headshot {
	position: relative;
	min-width: 125px;
	min-height: 125px;
	width: 125px;
	margin: 0 auto;
	margin-top: -140px;
	margin-bottom: 10px;
	background-color: #fff;
	border: 1px solid (34, 34, 34, 0.15);
	box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.25);
	padding: 3px;
	border-radius: 50%;
}
**/